
.link-button{ 
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 100%;
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    font-size: 1.17em;
     
   
    background-color: var(--white); 
   
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.link-button:hover{ 
    border-radius: 0.3em;
    /* border: 0.0625em solid var(--black); */
}

.link-button img{
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    
}
 
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.with-border
{
    border: 0.0625em solid var(--black);
    border-radius: .3em;
}

.with-border-radius img
{
    border-radius: .3em;
}

.max-width-btn-large
{
    max-width: 300px;
}

.max-width-btn-small
{
    max-width: 150px;
}

.max-width-btn-medium
{
    max-width: 240px;
}