/*  Playlist*/

.PlaylistSection {
    /* Color de texto hereda de body, no ha falta definir nuevamente. */

    background-color: #ffffffd4;
    background-image:
        url("/oh__demo1__1.png");
    background-blend-mode: hard-light;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    place-items: center;

    width: 100%;
    padding: 1.4em;
    gap: 1.4em;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    
}

.PlaylistSection h2 {
    padding: 1em;
    font-size: var( --main-section-font-size);
    font-weight: var( --main-section-font-weight);
    line-height:var(--main-section-line-height);
}


.PlaylistSection iframe {


    height: 25em;
    border: 0em;
}

.music-column {
    max-width: calc(var(--max--width) - 20em);
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
    width: 100%; 

}
.music-column a:first-of-type {
   max-width: 25em;
}

.music-player {
    width: 100%;
}

/*===========Breakpoints para Tablets y Desktop */



@media screen and (max-width: 768px) {

    .music-column {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    .music-column a:first-of-type {
        max-width: 100%;
    }

    .music-player {
        width: 100%;
    }

    .PlaylistSection {
        padding: 0em;
        padding-top: 4em;
        padding-bottom: 4em;
    }

    .PlaylistSection iframe {
        height: 20em;
    }

}