
/* Estilos generales del breadcrumb */
.breadcrumb-general {
    
    width: 100%;
    max-width:max-content ;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; /* Cambiará a 'center' en pantallas más pequeñas */
    /* padding: 1.8em 1.4em 2.5em; */
    gap: 0.7em;
    margin: 1em;
    border-radius: 0.3em;
    color: var(--white);
    background-color: var(--black); /* Asumiendo que quieres un fondo negro para todos los items */

    padding: .3em;
}

/* Estilos de los enlaces dentro del breadcrumb */
.breadcrumb-general a {
    font-weight: 600; /* Estableciendo el font-weight a 600, sobrescribe el 500 anterior */
    font-size: .9em;
    display: flex;
    align-items: center;
    gap: 0.3em;
    padding: 0.21em 0.5em;
    color: var(--white); /* Este color sobrescribe el color gris del último enlace si es necesario */
    background-color: var(--black); /* Fondo para los enlaces, si todos los enlaces tienen el mismo fondo */
}

/* Estilos para el último enlace del breadcrumb */
.breadcrumb-general span {
    color: var(--gray);
    padding-right: .5em;
    pointer-events: none;
}

/* Estilos para cualquier elemento small dentro del breadcrumb */
/* .breadcrumb-general small {
    display: flex;
    align-items: center;
    padding: 0.1em 0.5em;
    color: var(--white);
    background-color: var(--black);
} */

/* Estilos para los SVG dentro del breadcrumb */
/* .breadcrumb-general svg {
    fill: var(--white);
    height: 1.75em;  
    padding: 0.125em;
} */

/* Estilos para los SVG dentro de los enlaces */
.breadcrumb-general  svg {
   fill: white;
}

/* Estilos responsivos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .breadcrumb-general {
        justify-content: center;
    }
}
