.hobbies-article{
    width: 100%;;
}
.hobbies-article header {
    display: flex;
    width: 100%;
    position: relative;
    min-height: 31em;
    color: var(--white);
    padding: 0em;
    justify-content: space-between;
    /* Warning de css con respecto a la variable de color, pero está declarada en el archivo shared.css */
    background-color: var(--gray);
    background-image: url(public/hobbies.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    background-position: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;

}

.hobbies-article header img {
    width: 100%;
    height: 100%;
    min-height: 28em;
    object-fit: cover;
    border-radius: 0em;
}


.hobbies-article header img:hover {
    transform: none;
}

.hobbies-article header hgroup {
    background: linear-gradient(180deg, rgba(23, 23, 23, 0), rgb(0, 0, 0));
    padding: 1.4em;
    border-radius: 0.3em;
    width: 100%;
   
    text-align: left;


}
 
.hobbies-article header hgroup h2 {
    font-size: 1.4em;
    font-weight: 400;
    margin: 0em;
    padding: 0em;
    color: var(--white);
    text-align: center;
    width: 100%;
    max-width: 100%;
}
.hobbies-article header .page-cover{
    display: none;
}


.hobbies {
    /* Warning de css con respecto a al ancho máximo, pero está declarada en el archivo shared.css */
   
    width: 100%;
    padding: 1.4em 1.4em 6.25em 1.4em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(30% - 1.4em), 1fr));
    align-content: start;
    gap: 1.4em;
}


 
.hobbies-grid{
    max-width: var(--max--width);
    width: 100%;
    margin: 0 auto;
}

 
.hobbies-grid h2 {
   
    text-align: left;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.7em;
}

 
.hobbies {
    max-width: var(--max--width);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* Espacio entre las tarjetas */
}

 
 

/*===========Breakpoints para Tablets y Desktop */


@media (min-width: 769px) {
    .hobbies {
        grid-template-columns: repeat(3, 1fr);
    }


}


@media screen and (max-width: 768px) {
    .hobbies {
        grid-template-columns: repeat(1, 1fr);
    }
 
 
 
}

/* Estilos para móvil */
@media (max-width: 480px) {
    .hobbies {
        grid-template-columns: 1fr;
    }
}

 



 