


.search-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border: 1px solid #eaeaea;
    border-radius: .3em;
    background-color: rgb(253 253 253);
    z-index: 999999;
    width: 96%;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
    margin: 0 auto;
    box-shadow: 0 0 3px rgba(114, 114, 114, 0.3);
    
}
.search-results{
    /* overflow: auto;
max-height: 600px; */
}

.search-results div:first-of-type{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
gap:1em;

list-style: none;


    
}
.search-results li{
    list-style: none;
    background-color: rgba(245, 243, 243, 0.667);
    padding: .5em;

    margin-bottom: .5em;
    border-left: 2px solid black;
}
.search-results img{

    border-radius: .3em;
    max-width: 50px;
    object-fit: cover;

}